.app{
    background:  #c9fdd7;
    max-width: 600px;
    margin:35px auto;
    border-radius: 16px;
    padding: 30px;
}
body{
    background-color:white;
    font-family: "Roboto",sans-serif;


}

.search-form-input{
    
    border: none;
    border-radius: 15px;
    width:80%;
    padding:20px 25px;
    font-size: 16px;
    

}

.search-button{
    background:green;
    padding:16px;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 10px;
    border-radius: 15px;
    border:1px solid black;
    color:lightgreen;


}
.app-data{
    justify-content: space-between;

}
.app-temperature{
    display:flex;
    font-size: 60px;
    margin-left: 20px 0 auto
}
footer{
    border-top: 40px;
    padding: 30px 0 0;
    text-align: center;

}
main{
    padding: 60px 0;
}
a{
    color: green;
}
.app-details{
    font-size: 20px;
    
}
p strong{
    color:green;
}